Employees{
background-color:pink;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100%;
}
Employees>Employee{
background-color:white;
border-radius:0.25rem;
margin-bottom:1rem;
width:300px;
display:flex;
flex-direction:column;
padding:0.5rem;
}
Address{
display:block;
}